version: '3.8'

services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - ./data/db:/data/db

  backend:
    build: ./backend
    restart: unless-stopped
    env_file:
      - ./backend/.env.production.example
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build: ./frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend
